<div class="container my-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">새로 기도 등록하기</h1>
          <hr>
          <%= render 'form', pray: @pray %>
          <%= link_to '기도 목록', prays_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>


